	
<!DOCTYPE html>

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


  	

	<link rel="shortcut icon" href="https://res.cloudinary.com/drfaohzpo/image/upload/v1664525071/portfolio/n_ihemi9.png">
	
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,700' rel='stylesheet' type='text/css'>





	<link rel="stylesheet" href="/about/css/animate.css">
	<link rel="stylesheet" href="/about/css/bootstrap.css">
	<link rel="stylesheet" id="theme-switch" href="/about/css/style.css">

	
	<script src="/about/js/jquery.min.js"></script>
	<script src="/about/js/jquery.cookie.js"></script>
	<script src="/about/js/jquery.easing.1.3.js"></script>
	<script src="/about/js/bootstrap.min.js"></script>
	<script src="/about/js/jquery.waypoints.min.js"></script>
	<script src="/about/js/jquery.flexslider-min.js"></script>
	<script src="/about/js/viewport-units-buggyfill.js"></script>
	<script src="/about/https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="/about/js/google_map.js"></script>
	<script src="/about/js/main.js"></script>
	<script src="/about/js/modernizr-2.6.2.min.js"></script>
	

	</head>

	<body>
	

	<div class="fh5co-loader"></div>
	
	<div id="fh5co-page">
		<nav id="fh5co-nav" role="navigation">
			<ul>
				<li class="animate-box fh5co-active"><a href="/" class="transition">Home</a></li>
				<!-- <li class="animate-box"><a href="about.html" class="transition">Bio</a></li> -->
			</ul>
		</nav>
		



		<header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">
			<div class="container">
				<div class="fh5co-text-wrap animate-box">
					<div class="fh5co-intro-text">
						<h1>I CAN SOLVE A RUBRICS CUBE IN UNDER A MINUTE.</h1>
						<br>
						<h2> ☝️ Just a random stuff about me ☝️</h2>
					</div>
				</div>
			</div>
			<div class="btn-next animate-box fh5co-learn-more">
				<a href="#" class="scroll-btn">
					<span>Exploreeee</span>
					<i class="icon-chevron-down"></i>
				</a>
			</div>
		</header>



		<!-- My music-->
		<div class="fh5co-project js-fh5co-waypoint" data-bgcolor="" data-next="yes">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="images/music_web.png" alt="">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="images/music_phone.jpeg" alt="">
						</div>
					</div>
					<div class="fh5co-text col-md-4 animate-box">
						<h2>My music collection</h2>
						<p>Created a web app where you can enjoy my favorite music. It works on low bandwidth and will also work in the background on chrome (iPhone supported)... So no more Spotify subscription.<br> (The application uses Youtube API and automatically adds my most played song to this web app).</p>
						<p><a href="/mysongs" class="btn btn-light btn-outline transition">Listen</a></p>
					</div>
				</div>

			</div>
		</div>


		<!-- My books -->
		<div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="" data-next="yes">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="" alt="book_web">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="" alt="book_mobile">
						</div>
					</div>
					<div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
						<h2>My book recommendation</h2>
						<p>I like reading books and love to share my thoughts on the books. <br> This web-app will give you my top pick of the year and you can download the pdf versions of some of those books.</p>
						<p>Will be add a new section soon, where you can recommend me your favorite book (For now you can mail me through the contact page on the home page)</p>
						<p><a href="" class="btn btn-light btn-outline transition">Read</a></p>
					</div>
				</div>

			</div>
		</div>
		
	
		<footer id="fh5co-footer" class="js-fh5co-waypoint">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						
					</div>
				</div>
			</div>
		</footer>

	</div>
	
			
	

	</body>
</html>

