<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> | Coming soon</title>
    <link rel="shortcut icon" href="images/n.png" />
    <link rel="stylesheet" href="/comingSoon/comingSoon.css">
</head>


<body>

    <sectio class="nav">
        <h1>Working on <%=title%></h1>
        <h3 class="span loader">
            <span class="m">C</span>
            <span class="m">O</span>
            <span class="m">M</span>
            <span class="m">I</span>
            <span class="m">N</span>
            <span class="m">G</span>
            <span class="m"> </span>
            <span class="m">S</span>
            <span class="m">O</span>
            <span class="m">O</span>
            <span class="m">N</span>

        </h3>
        
        
      </sectio>
      <canvas class="background"></canvas>
      

    <script src="/comingSoon/comingSoon.js"></script>

</body>