<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="shortcut icon" href="images/n.png" />
    <link rel="stylesheet" href="/notFound/notFound.css">
</head>

<body>


    <a href="/" class="viewFull" target="_parent">Let's go back to home :)</a>

    <div class="error">

    <div class="wrap">
    <div class="404">
        <pre><code>
        <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
    <span class="orange">&lt;html&gt;</span>
        <span class="orange">&lt;style&gt;</span>
    * {
                    <span class="green">everything</span>:<span class="blue">awesome</span>;
                    <span class="green">seriously</span>:<span class="blue">noError</span>;
    }
        <span class="orange">&lt;/style&gt;</span>
    <span class="orange">&lt;body&gt;</span> 
                ERROR 404!
                    FILE NOT FOUND!
                    Estereggs here?!
                    <span class="comment">&lt;!--The file you are looking for, 
                        is not where you think it is.--&gt;
                    </span>

            

    <span class="orange">This route <%=route%> is not found</span> 
                


    </div>
    <br />
    <span class="info">
    <br />

    <span class="orange">&nbsp;&lt;/body&gt;</span>

    <br/>
        <span class="orange">&lt;/html&gt;</span>
        </code></pre>
    </div>
    </div>


    </span>


</body>