<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/test/s.css">
    <link rel="stylesheet" href="/test/b.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>
<body>



    <div class="container">
        <div class="navigation">
            <ol>
                <li><a href="#"  data-ref="name">Name</a></li>
                <li><a href="#"  data-ref="uname">Username</a></li>
                <li><a href="#"  data-ref="email">Email</a></li>
                <li><a href="#"   data-ref="password">Password</a></li>
            </ol>
        </div>
        <form id="sign-form" class="sign-form" autocomplete="off">
            <ol class="questions">
                <li>
                    <span><label for="name">Hi, What is your Name?</label></span>
                    <input class="active" id="name" name="name" type="text" placeholder="Enter your full name" autofocus/>
                </li>
                <li>
                    <span><label for="username">& what shall I call you?</label></span>
                    <input id="username" name="username" type="text" placeholder="Enter a username" autofocus autocomplete="false"/>
                </li>
                <li>
                    <span><label for="email">Enter you emailId</label></span>
                    <input id="email" name="email" type="text" placeholder="Enter your emailId"  autofocus autocomplete="false"/>
                </li>

                <li>
                    <span><label for="password">Choose a password</label></span>
                    <input id="password" name="password" type="password" placeholder="Don't forget your password." autofocus autocomplete="false"/>
                    <!-- <span id="show-pwd" class="view"></span> -->
                </li>
                <li><p style="margin-top: 45px;font-size: 32pt;margin-left: 200px;">
                    <a href="#" style="color:white;text-decoration:none" id="signup">Sign up</a></p> 
                </li>
                <div id="next-page" alt="Kiwi standing on oval"></div>
            </ol>
            
            <div class="error-message"></div>
            
        </form>
    <!-- <h1 id="wf" style="opacity:0;width: 600px; margin-top:1.1em;display:none; margin-bottom:1em">Thank you</h1> -->

   </div>

    <div id="load" style="opacity:0; display:none;">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>D</div>
        <div>A</div>
        <div>O</div>
        <div>L</div>
    </div>





    <script src="s.js"></script>
</body>
</html>


