<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">


    <link rel="shortcut icon" type="image/png" href="/images/n.png"/>
 
    <title>SnakeGame</title>
   



</head>
<body>


    
<!-- <script language="javascript" type="text/javascript" src="/SnakeGame/libraries/p5.js"></script> -->
<script language="javascript" src="/SnakeGame/libraries/p5.dom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.min.js" integrity="sha512-XeYwl+JaFk0ULtJavqCcDg3FZElttxpkNbsEaNQQKVm5JyEZpZhVujSOeRvzKwvBiVMpAjHqP1P01vlgKWWP4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script language="javascript" type="text/javascript" src="/SnakeGame/sketch2.js"></script>
<script language="javascript" type="text/javascript" src="/SnakeGame/Snake.js"></script>
<script language="javascript" type="text/javascript" src="/SnakeGame/Apple.js"></script>
<script language="javascript" type="text/javascript" src="/SnakeGame/HamiltonianCycle.js"></script>



</body>
</html>