<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_a ">
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:6664254143907139586/"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="images/projects/rocket.gif"  loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Rockets</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Cloud Seeding using Rockets.</h4>
                    <ul>
                        <li>Worked on Project</li>
                        <li>Nov,2019 - Jan,2020</li>
                        
                    </ul>
                    <p>Cloud seeding is not a new technology but had been a very costly one! With our technology, we are able to reduce the cost by 90%.</p>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_a">
    <a href="/snake"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="images/projects/snake.gif" loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>AI</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>AI based Snake maze solver.</h4>
                    <ul>
                        <li>Worked on Project</li>
                        <li>Jan,2022 - Mar,2022</li>
                        
                    </ul>
                    <p>The  snake follows the planar Hamiltonian Cycle of a 2D array(created using Prim’s Algorithm) and find the next food by implementing A* pathfinder algorithm.</p>
                </div>
            </div>
        </div>
    </a>
</div>




<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_a ">
    <a href="https://navi-weather-app2.herokuapp.com/"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1665870443/portfolio/projects/weatherApp_dqzg5r.png" loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>WebDev API</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Weather forcast API with UI.</h4>
                    <ul>
                        <li>Worked on Project</li>
                        <li>Jul,2021 - Jul,2021</li>
                        
                    </ul>
                    <p>An interactive weather application which uses API call to get forcast. Custom UI and current location support.</p>
                </div>
            </div>
        </div>
    </a>
</div>