<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_a gal_top">
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:6664254143907139586/" target="_blank" >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663865955/portfolio/projects/WhatsApp_Image_2022-09-22_at_10.28.32_PM_vssbgz.jpg" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Rockets</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Cloud Seeding using Rockets.</h4>
                    <ul>
                        <li>Works on project</li>
                        <li>20 Nov,2019 - 20 Jan,2020</li>
                        
                    </ul>
                    <p>Cloud seeding is not a new technology but had been a very costly one! With our technology, we are able to reduce the cost by 90%.</p>
                </div>
            </div>
        </div>
    </a>
</div>