.date{
	display: inline-block;
    font-size: 20;
	position: absolute;
	top: 15px;
	right: 15px;
	background: #333333;
	color: #fff;
	padding: 5px 7px;
	text-align: center;
}

.card-title{
    font-size: 30px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

body{
    background-image: linear-gradient(to right, rgba(255,0,0,0),#264653);
}

.card{
    background-color: whitesmoke;
    /* background-image: linear-gradient(to left,#f8f7ff,#ffd8be); */
}


.loadMore{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
}