


<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_b">
    <a href="#"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663864374/portfolio/certificates/Vit/pitchPerfect_jpstec.jpg" loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>VIT Hack</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Pitch perfect 2.0</h4>
                    <ul>
                        <li>Issued by VIT Vellore</li>
                        <li>13 Oct, 2019</li>
                        
                    </ul>
                    <p>Came first among 200 people.</p>
                </div>
            </div>
        </div>
    </a>
</div>



<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_b">
    <a href="#">
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663864490/portfolio/certificates/Vit/Enphython_mhhido.jpg" loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Physics VIT</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Enphython</h4>
                    <ul>
                        <li>Issued by VIT Vellore</li>
                        <li>19 Oct, 2019</li>
                        
                    </ul>
                    <p>24 hr long hack on practical physics! Created working Li-Fi to increase the data communication speed!</p>
                </div>
            </div>
        </div>
    </a>
</div>





<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_b">
    <a href="https://www.credly.com/badges/80128d58-e71a-4223-8c2d-11eea9496d2b/linked_in_profile">
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1682364764/PortfolioProjects/mongodb-dev_jmtkco.png" loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Mongodb</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>MongoDB Associate Developer</h4>
                    <ul>
                        <li>Issued by Mongodb</li>
                        <li>16 April, 2023</li>
                        
                    </ul>
                    <p>Designing and building applications using MongoDB (Nodejs driver)</p>
                </div>
            </div>
        </div>
    </a>
</div>

