


<div class="col-lg-4 col-md-6 col-sm-6 col-6 gallery-grid gal_b">
    <a href="https://www.hackerrank.com/certificates/ca4f4f1c105c" target="_blank" >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663864214/portfolio/certificates/hackerRank/pythonAdvance_nh7m4x.png" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Python </span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Python (Advanced) Certificate.</h4>
                    <ul>
                        <li>Issued by hackerRank</li>
                        <li>12 Sept, 2020</li>
                        
                    </ul>
                    <p>I have to write something her for py.</p>thon
                </div>
            </div>
        </div>
    </a>
</div>



<div class="col-lg-4 col-md-6 col-sm-6 col-6 gallery-grid gal_b">
    <a href="#" target="_blank" >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663864374/portfolio/certificates/Vit/pitchPerfect_jpstec.jpg" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>VIT Hack</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Pitch perfect 2.0</h4>
                    <ul>
                        <li>Issued by VIT Vellore</li>
                        <li>13 Oct, 2019</li>
                        
                    </ul>
                    <p>Came first among 200 people.</p>
                </div>
            </div>
        </div>
    </a>
</div>



<div class="col-lg-4 col-md-6 col-sm-6 col-6 gallery-grid gal_b">
    <a href="#" target="_blank" >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1663864490/portfolio/certificates/Vit/Enphython_mhhido.jpg" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Physics VIT</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Enphython</h4>
                    <ul>
                        <li>Issued by VIT Vellore</li>
                        <li>19 Oct, 2019</li>
                        
                    </ul>
                    <p>24 hr long hack on practical physics! Created working Li-Fi to increase the data communication speed!.</p>
                </div>
            </div>
        </div>
    </a>
</div>




