<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_c gal_top">
    <a href="https://www.instagram.com/thecrossroadssurat/"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1665499537/portfolio/work/a_-_Edited_rhzkqy.png"  loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Startup</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>TheCrossroads</h4>
                    <ul>
                        <li>Worked on </li>
                        <li>Jan,2021 - Dec,2021</li>
                        
                    </ul>
                    <p>Co-founded Surat's biggest flea and business development company and organized 2 major events in the month of Feb and Oct with over 15k footfall and with over 150+ brands.</p>
                </div>
            </div>
        </div>
    </a>
</div>
