<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_c gal_top">
    <a href="https://www.instagram.com/thecrossroadssurat/"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1665499537/portfolio/work/a_-_Edited_rhzkqy.png"  loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Startup</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>TheCrossroads</h4>
                    <ul>
                        <li>Worked from </li>
                        <li>Jan,2021 - Dec,2021</li>
                        
                    </ul>
                    <p>Co-founded Surat's biggest flea and business development company and organized 2 major events in Feb and Oct of 2021 with over 15k footfall and with over 150+ brands.</p>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_c gal_top">
    <a href="www.nextcampus.in"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1682364316/PortfolioProjects/nextcampus_fy3sde.png"  loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Internship</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>NextCampus</h4>
                    <ul>
                        <li>Worked from </li>
                        <li>Mar,2023 - April,2023</li>
                        
                    </ul>
                    <p>During my backend developer internship at NextCampus, I improved database schema and created API endpoints. </p>
                </div>
            </div>
        </div>
    </a>
</div>



<div class="col-lg-4 col-md-6 col-sm-12 col-12 gallery-grid gal_c gal_top">
    <a href="#"  >
        <div class="gallery-single fix">
            <div class="post-box">
                <div class="post-thumb">
                    <img src="https://res.cloudinary.com/drfaohzpo/image/upload/v1682365322/PortfolioProjects/socofai_lwc88r.jpg"  loading="lazy" class="img-fluid" alt="post-img" />
                    <div class="date">
                        <span>Internship</span>
                    </div>
                </div>
                <div class="post-info">
                    <h4>Society of AI </h4>
                    <ul>
                        <li>Worked from </li>
                        <li>Jun,2020 - Sept,2020</li>
                        
                    </ul>
                    <p>Learned about ML/AI for real-world application. Explored
                        python libraries including sklearn and TensorFlow. </p>
                </div>
            </div>
        </div>
    </a>
</div>
