<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>A lil about ME.</h2>
                    <br>
                    <h3>Experienced Founder currently in 4th year at VIT Vellore (CSE) along with working on technical and non-technical projects.
                        Skilled in Data Science, AI/ML, and Software development with 1+ years of experience building real world application for different organization at scale. </h3>

                    <h3> I have tried to keep this site bit semi-professional. So you will find both technical content and also fun related stuff.<br> <a href="/mysongs">(Example being my AI song recommendation system which will play you my current favourite songs :)</a></h3>  
                    
                    <br>
                            
                    <a href="index/data/naviCV.pdf" class="sim-btn btn-hover-new" data-text="Download as PDF" ><span>Download my Resume</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="<%=imageUrl%>" alt="" loading="lazy" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
