<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>A lil about ME.</h2>
                    <br>
                    <h3> Experienced Founder with a demonstrated history of working in the computer and Finance industry.</p><p>Skilled in Data Science, Finance and portfolio management and have strong background in tech . Strong business development professional with a <%=year%> year focused in tech from VIT_Vellore Institute of Technology . </h3>
                            
                    <a href="index/data/naviCV.pdf" class="sim-btn btn-hover-new" data-text="Download as PDF" ><span>Download my Resume</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="<%=imageUrl%>" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
