<div id="aboutSite" class="section lb thisPage">
    <div class="container">
        <div class="section-title text-center aboutSection">
            <h3>About this website</h3>
            <p>This website is created using node.js as the backend and ejs as the frontend.</p>
            <p>I took devops approach while designing and implementing the site. I have used Docker and implemented CI/CD pipeline along with hybrid cloud architecture.</p>
            <p>More technical details on the project can be found in <a href="https://github.com/23navi/portfolio">github repo</a> for this project.</p>
            <p></p>
        </div>
       
    </div>
</div>