<div id="aboutSite" class="section lb thisPage">
    <div class="container">
        <div class="section-title text-center aboutSection">
            <h3>About this website</h3>
            <p>This website is created using node.js as the backend and ejs as the frontend.</p>
            <p>I took devops first approach while designing and implementing the site. I have used Docker and implemented CI/CD pipeline.</p>
            <p></p>
            <p>I am still working on it. So in case you find any bug or have any suggesstions... Then open a new issue or contact me using the form below :) </p>
        </div>
       
    </div>
</div>