<div id="fun" class="section fun lb">
    <div class="container">
        <div class="section-title text-center funSection">
            <h3>Some intresting facts about me</h3>
            <p>This section is more of non-techinical and personal.</p><p>I was not able to add every crazy stuff on one page so you can </p>
            <br>
            <a href="/about" class="sim-btn btn-hover-new" data-text="Let's go" ><span>Click here to explore more</span></a>
        </div>
        
       
    </div>
</div>