<div id="fun" class="section fun lb">
    <div class="container">
        <div class="section-title text-center funSection">
            <h3>Some intresting facts about me</h3>
            <p>I can solve a rubic cube</p>

            <br>
            <a href="..." class="sim-btn btn-hover-new" data-text="Let's go" ><span>More random things about me</span></a>
        </div>
        
       
    </div>
</div>