<div id="fun" class="section fun lb">
    <div class="container">
        <div class="section-title text-center funSection">
            <h3>Some intresting facts about me</h3>
            <p>I can solve a rubic cube</p>
            <p>And I have not yet implemented this route... So plzz don't click button down there unless you want to see the awesome 404 page. I mean it.</p>

            <br>
            <a href="..." class="sim-btn btn-hover-new" data-text="Let's go" ><span>More random things about me</span></a>
        </div>
        
       
    </div>
</div>