<section id="home" class="main-banner parallaxie" style="background: url('https://res.cloudinary.com/drfaohzpo/image/upload/v1665864444/portfolio/home_iw6jpo.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="heading">


  
       
            <h1><%=greet%> I'm Navi</h1>
        
        
        
        <p>"A developer from India, <br><%=year%> year CSE student at VIT Vellore"</p>
        <h3 class="cd-headline clip is-full-width">
            <span> </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">100,000 lines of code*</b>
                <!-- <b>4 Internships</b> -->
                <b>15+ projects</b>
                <b>Open Soure contributer</b>
                <b>Learner</b>
                <b>Explorer</b>
                
            </span>
        </h3>
        
    </div>
</section>