* {
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
body {
    /* background-image: url('a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: rgb(68, 67, 67);
    display:flex;
    color: #fff;
    font-size: 1.5em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
    font-weight: 300;
    text-align: center;
}
.container {
    
    background: #B7BED8;
    width: 600px;
    height: 300px;
    color: #6A79A6;
    display: flex;
    padding: 0em 1em;
    margin: 12em auto;
    box-shadow: 20px 50px 50px rgba(255, 255, 255, 0.2);
    border-radius: 10px;

}
.container .navigation {
    text-align: center;
}
.container .navigation ol {
    list-style: none;
    position: absolute;
    padding: 30px 0;
    width: 500px;
    z-index: 100;
    margin-bottom: 30px;
}
.container .navigation ol li {
    display: inline-block;
    margin-right: 27px;
    font-size: 0.7em;
    max-width: 20%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container .navigation ol li a {
    font-weight: 600;
    font-size: large;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}
.container .navigation ol li a.done {
    opacity: 1;
}
.container .sign-form {
    width: 500px;
    text-align: left;
    margin: 85px 0 0 0;
}
.container .sign-form #next-page {
    opacity: 0;
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 400px;
    background: url("https://jdniki.github.io/signup/images/next-page.svg");
    background-size: contain;
}
.container .sign-form #next-page:hover {
    background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
    background-size: contain;
}
.container .sign-form .questions {
    list-style: none;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    width: 88%;
    display: inline-block;
    height: 80px;
}
.container .sign-form .questions li {
    position: absolute;
    width: 500px;
}
.container .sign-form .questions li span {
    display: block;
    margin-bottom: 10px;
}
.container .sign-form .questions li input {
    width: 100%;
    font-size: 1.2em;
    color: #f2f2f2;
    margin: 0.5em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 3px solid #fff;
    padding: 0.5em 0.1em;
    transition: all 0.5s ease;
}
.container .sign-form .questions li input:focus {
    outline: none;
    border-bottom: 3px solid #6A79A6;
}
.container .sign-form .questions li:not(:first-child) {
    opacity: 0;
    margin-top: 150px;
}
.container .sign-form .questions li #viewpswd {
    position: absolute;
    opacity: 0;
}
.container .sign-form .questions li #show-pwd {
    margin: -2.75em 0em;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.container .error-message {
    color: rgba(207,0,0,0.56);
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 30px;
    background: #B7BED8;
}
::-webkit-input-placeholder {
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
:-moz-placeholder {
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
::-moz-placeholder {
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
:-ms-input-placeholder {
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
@-webkit-keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
   }
    to {
        -webkit-transform: translateY(0);
   }
}
@keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
   }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
   }
}





  
#load {
	font-size: xx-large;
	position:absolute;
	width:600px;
	height:36px;
	left:50%;
	top:40%;
	margin-left:-300px;
	overflow:visible;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
  }
  
  #load div {
	position:absolute;
	width:20px;
	height:36px;
	opacity:0;
	font-family:Helvetica, Arial, sans-serif;
	animation:move 2s linear infinite;
	-o-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-webkit-animation:move 2s linear infinite;
	transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	color:#35C4F0;
  }
  
  #load div:nth-child(2) {
	animation-delay:0.2s;
	-o-animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	-webkit-animation-delay:0.2s;
  }
  #load div:nth-child(3) {
	animation-delay:0.4s;
	-o-animation-delay:0.4s;
	-webkit-animation-delay:0.4s;
	-webkit-animation-delay:0.4s;
  }
  #load div:nth-child(4) {
	animation-delay:0.6s;
	-o-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
  }
  #load div:nth-child(5) {
	animation-delay:0.8s;
	-o-animation-delay:0.8s;
	-moz-animation-delay:0.8s;
	-webkit-animation-delay:0.8s;
  }
  #load div:nth-child(6) {
	animation-delay:1s;
	-o-animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
  }
  #load div:nth-child(7) {
	animation-delay:1.2s;
	-o-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
  }
  
  @keyframes move {
	0% {
	  left:0;
	  opacity:0;
	}
	  35% {
		  left: 41%; 
		  -moz-transform:rotate(0deg);
		  -webkit-transform:rotate(0deg);
		  -o-transform:rotate(0deg);
		  transform:rotate(0deg);
		  opacity:1;
	  }
	  65% {
		  left:59%; 
		  -moz-transform:rotate(0deg); 
		  -webkit-transform:rotate(0deg); 
		  -o-transform:rotate(0deg);
		  transform:rotate(0deg); 
		  opacity:1;
	  }
	  100% {
		  left:100%; 
		  -moz-transform:rotate(-180deg); 
		  -webkit-transform:rotate(-180deg); 
		  -o-transform:rotate(-180deg); 
		  transform:rotate(-180deg);
		  opacity:0;
	  }
  }
  
  @-moz-keyframes move {
	  0% {
		  left:0; 
		  opacity:0;
	  }
	  35% {
		  left:41%; 
		  -moz-transform:rotate(0deg); 
		  transform:rotate(0deg);
		  opacity:1;
	  }
	  65% {
		  left:59%; 
		  -moz-transform:rotate(0deg); 
		  transform:rotate(0deg);
		  opacity:1;
	  }
	  100% {
		  left:100%; 
		  -moz-transform:rotate(-180deg); 
		  transform:rotate(-180deg);
		  opacity:0;
	  }
  }
  
  @-webkit-keyframes move {
	  0% {
		  left:0; 
		  opacity:0;
	  }
	  35% {
		  left:41%; 
		  -webkit-transform:rotate(0deg); 
		  transform:rotate(0deg); 
		  opacity:1;
	  }
	  65% {
		  left:59%; 
		  -webkit-transform:rotate(0deg); 
		  transform:rotate(0deg); 
		  opacity:1;
	  }
	  100% {
		  left:100%;
		  -webkit-transform:rotate(-180deg); 
		  transform:rotate(-180deg); 
		  opacity:0;
	  }
  }
  
  @-o-keyframes move {
	  0% {
		  left:0; 
		  opacity:0;
	  }
	  35% {
		  left:41%; 
		  -o-transform:rotate(0deg); 
		  transform:rotate(0deg); 
		  opacity:1;
	  }
	  65% {
		  left:59%; 
		  -o-transform:rotate(0deg); 
		  transform:rotate(0deg); 
		  opacity:1;
	  }
	  100% {
		  left:100%; 
		  -o-transform:rotate(-180deg); 
		  transform:rotate(-180deg); 
		  opacity:0;
	  }
  }